
header {
    background-color: rgb(37, 33, 33);
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    .title {
        font-size: 39px;
        color: #fff;
    }
}